body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
}

.video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;   

}   

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 20px 0;
}

.header-left, .header-right {
    flex: 1;      
    display: flex;
    justify-content: center;
}

.header-center {
    flex: 2;
    text-align: center;
}

.logo {
    max-width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    z-index: 100;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #FFD700;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}

nav ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

#products {
    padding-top: 10vh;
    background-size: cover;
    background: url('images/Overview.JPG') no-repeat center center fixed;       
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    flex: 1 1 calc(33.333% - 40px);
    background-color: rgba(28, 28, 28, 0.8);
    border-radius: 10px;
    padding: 20px;
    /*padding-top: -150px;*/
    text-align: center;
    color: #fff;
    min-width: 500px;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #FFD700;
}

figure dl dt {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFD700;
}

figure dl dd {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

#audio-section {
    padding: 50px;
    background-color: #000000c7;
    color: #FFD700;
    text-align: center;
}

.audio-container {
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
}

.audio-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
    margin-bottom: 20px;
}

#canvas-section {
    text-align: center;
    padding: 50px;
    background-color: #000;
    color: #FFD700;
}

#qualityCanvas {
    border: 3px solid #FFD700;
    border-radius: 50%;
    background-color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;    
    width: 100%;
    background-color: #000;
    color: #FFD700; 
    text-align: center;
}

#wrapper{
    width: 1920px;
}

#main-header{
    width: 1920px;
    height: 100px;

}

